USE [master]
GO
/****** Object:  Database [Catpuzi]    Script Date: 2019/6/24 23:11:11 ******/
CREATE DATABASE [Catpuzi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Catpuzi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Catpuzi.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Catpuzi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Catpuzi_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Catpuzi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Catpuzi]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_name] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[good_id] [int] NULL,
	[num] [int] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cat]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat](
	[cat_id] [int] IDENTITY(1,1) NOT NULL,
	[catClass_id] [int] NULL,
	[shop_id] [int] NULL,
	[cat_sex] [tinyint] NULL,
	[cat_price] [int] NULL,
	[isAntiepidemic] [tinyint] NULL,
	[isInsect] [tinyint] NULL,
	[cat_num] [int] NULL,
	[isFullBlood] [tinyint] NULL,
	[cat_img] [nvarchar](max) NULL,
	[isRecommend] [tinyint] NULL,
 CONSTRAINT [PK_Cat] PRIMARY KEY CLUSTERED 
(
	[cat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[catClass]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catClass](
	[catClass_id] [int] IDENTITY(1,1) NOT NULL,
	[catClass_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_catClass] PRIMARY KEY CLUSTERED 
(
	[catClass_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[goodClass]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goodClass](
	[goodClass_id] [int] IDENTITY(1,1) NOT NULL,
	[goodClass_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_goodClass] PRIMARY KEY CLUSTERED 
(
	[goodClass_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[goodComment]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goodComment](
	[goodComment_id] [int] IDENTITY(1,1) NOT NULL,
	[good_id] [int] NULL,
	[user_id] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[addtime] [datetime] NULL,
 CONSTRAINT [PK_goodComment] PRIMARY KEY CLUSTERED 
(
	[goodComment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[goodReply]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goodReply](
	[goodReply_id] [int] IDENTITY(1,1) NOT NULL,
	[goodComment_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[reply] [nvarchar](max) NULL,
	[addtime] [datetime] NULL,
 CONSTRAINT [PK_goodReply] PRIMARY KEY CLUSTERED 
(
	[goodReply_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Goods]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[good_id] [int] IDENTITY(1,1) NOT NULL,
	[goodClass_id] [int] NOT NULL,
	[good_introduce] [nvarchar](max) NULL,
	[good_price] [int] NULL,
	[good_img] [nvarchar](max) NULL,
	[good_addtime] [datetime] NULL,
	[orderDetails_id] [int] NULL,
	[shop_id] [int] NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[good_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[info]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[info](
	[info_id] [int] IDENTITY(1,1) NOT NULL,
	[infoClass_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[info_img] [nvarchar](max) NULL,
	[info_title] [nvarchar](50) NULL,
	[info_content] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[info_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[infoClass]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[infoClass](
	[infoClass_id] [int] IDENTITY(1,1) NOT NULL,
	[infoClass_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_infoClass] PRIMARY KEY CLUSTERED 
(
	[infoClass_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[infoComment]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[infoComment](
	[infoComment_id] [int] IDENTITY(1,1) NOT NULL,
	[info_id] [int] NULL,
	[user_id] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[addtime] [datetime] NULL,
 CONSTRAINT [PK_infoComment] PRIMARY KEY CLUSTERED 
(
	[infoComment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[infoReply]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[infoReply](
	[infoReply_id] [int] NOT NULL,
	[infoComment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[reply] [nvarchar](max) NULL,
	[addtime] [datetime] NULL,
 CONSTRAINT [PK_infoReply] PRIMARY KEY CLUSTERED 
(
	[infoReply_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MakePrivate]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MakePrivate](
	[myprivate_id] [int] IDENTITY(1,1) NOT NULL,
	[Users_id] [int] NOT NULL,
	[destination] [nvarchar](50) NULL,
	[customname] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[expenses] [decimal](18, 0) NULL,
	[dates] [datetime] NULL,
	[tools] [nvarchar](50) NULL,
	[notes] [nchar](10) NULL,
 CONSTRAINT [PK_MakePrivate] PRIMARY KEY CLUSTERED 
(
	[myprivate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[order_time] [datetime] NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](20) NULL,
	[zipcode] [nvarchar](10) NULL,
	[total_price] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orderDetails]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderDetails](
	[orderDetails_id] [int] IDENTITY(1,1) NOT NULL,
	[num] [int] NULL,
	[order_id] [int] NULL,
 CONSTRAINT [PK_orderDetails] PRIMARY KEY CLUSTERED 
(
	[orderDetails_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shop]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[shop_id] [int] IDENTITY(1,1) NOT NULL,
	[shop_name] [nvarchar](50) NULL,
	[user_id] [int] NULL,
	[shop_introduce] [nvarchar](max) NULL,
	[shop_addtime] [datetime] NULL,
 CONSTRAINT [PK_Shop] PRIMARY KEY CLUSTERED 
(
	[shop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2019/6/24 23:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](60) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](50) NULL,
	[user_head] [nvarchar](50) NULL,
	[age] [int] NULL,
	[birth] [date] NULL,
	[sex] [tinyint] NULL,
	[password] [varchar](32) NULL,
	[user_introduce] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([admin_id], [admin_name], [password]) VALUES (1, N'ailocy', N'123456')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cart_id], [user_id], [good_id], [num]) VALUES (2, 2, 4, 5)
INSERT [dbo].[Cart] ([cart_id], [user_id], [good_id], [num]) VALUES (3, 1, 2, 1)
INSERT [dbo].[Cart] ([cart_id], [user_id], [good_id], [num]) VALUES (4, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Cart] OFF
SET IDENTITY_INSERT [dbo].[Cat] ON 

INSERT [dbo].[Cat] ([cat_id], [catClass_id], [shop_id], [cat_sex], [cat_price], [isAntiepidemic], [isInsect], [cat_num], [isFullBlood], [cat_img], [isRecommend]) VALUES (1, 1, 1, 1, 1200, 1, 1, 5, 1, N'../images/buou/1.jpg', 1)
INSERT [dbo].[Cat] ([cat_id], [catClass_id], [shop_id], [cat_sex], [cat_price], [isAntiepidemic], [isInsect], [cat_num], [isFullBlood], [cat_img], [isRecommend]) VALUES (2, 1, 2, 0, 1500, 1, 1, 6, 1, N'../images/buou/2.jpg', 1)
INSERT [dbo].[Cat] ([cat_id], [catClass_id], [shop_id], [cat_sex], [cat_price], [isAntiepidemic], [isInsect], [cat_num], [isFullBlood], [cat_img], [isRecommend]) VALUES (3, 1, 2, 1, 1200, 1, 1, 1, 1, N'../images/buou/3.jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[Cat] OFF
SET IDENTITY_INSERT [dbo].[catClass] ON 

INSERT [dbo].[catClass] ([catClass_id], [catClass_name]) VALUES (1, N'布偶猫')
INSERT [dbo].[catClass] ([catClass_id], [catClass_name]) VALUES (2, N'暹罗猫')
INSERT [dbo].[catClass] ([catClass_id], [catClass_name]) VALUES (3, N'苏格兰折耳猫')
SET IDENTITY_INSERT [dbo].[catClass] OFF
SET IDENTITY_INSERT [dbo].[goodClass] ON 

INSERT [dbo].[goodClass] ([goodClass_id], [goodClass_name]) VALUES (1, N'玩具')
INSERT [dbo].[goodClass] ([goodClass_id], [goodClass_name]) VALUES (2, N'服装')
INSERT [dbo].[goodClass] ([goodClass_id], [goodClass_name]) VALUES (3, N'猫粮')
SET IDENTITY_INSERT [dbo].[goodClass] OFF
SET IDENTITY_INSERT [dbo].[goodComment] ON 

INSERT [dbo].[goodComment] ([goodComment_id], [good_id], [user_id], [comment], [addtime]) VALUES (1, 3, 1, N'555', CAST(0x0000AA76011F8121 AS DateTime))
SET IDENTITY_INSERT [dbo].[goodComment] OFF
SET IDENTITY_INSERT [dbo].[goodReply] ON 

INSERT [dbo].[goodReply] ([goodReply_id], [goodComment_id], [user_id], [reply], [addtime]) VALUES (1, 1, 1, N'222', CAST(0x0000AA76011F9735 AS DateTime))
SET IDENTITY_INSERT [dbo].[goodReply] OFF
SET IDENTITY_INSERT [dbo].[Goods] ON 

INSERT [dbo].[Goods] ([good_id], [goodClass_id], [good_introduce], [good_price], [good_img], [good_addtime], [orderDetails_id], [shop_id]) VALUES (1, 1, N'猫用品猫玩具猫咪兔毛球老鼠型逗猫棒逗猫杆火鸡毛猫薄荷逗猫羽毛', 200, N'../images/wanju/1.jpg', CAST(0x0000AA3F00000000 AS DateTime), NULL, 1)
INSERT [dbo].[Goods] ([good_id], [goodClass_id], [good_introduce], [good_price], [good_img], [good_addtime], [orderDetails_id], [shop_id]) VALUES (2, 1, N'猫玩具球逗猫球猫咪自嗨用品剑麻毛线球猫线团耐咬羽毛老鼠逗猫棒', 10, N'../images/wanju/2.jpg', CAST(0x0000A9E900000000 AS DateTime), NULL, 1)
INSERT [dbo].[Goods] ([good_id], [goodClass_id], [good_introduce], [good_price], [good_img], [good_addtime], [orderDetails_id], [shop_id]) VALUES (3, 1, N'喵仙儿打地鼠猫玩具益智猫玩具逗猫玩具猫捉老鼠宠物玩具包邮', 20, N'../images/wanju/3.jpg', CAST(0x0000A9E900000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Goods] OFF
SET IDENTITY_INSERT [dbo].[info] ON 

SET IDENTITY_INSERT [dbo].[info] OFF
SET IDENTITY_INSERT [dbo].[infoClass] ON 

INSERT [dbo].[infoClass] ([infoClass_id], [infoClass_name]) VALUES (1, N'资讯')
INSERT [dbo].[infoClass] ([infoClass_id], [infoClass_name]) VALUES (2, N'选猫技巧')
SET IDENTITY_INSERT [dbo].[infoClass] OFF
SET IDENTITY_INSERT [dbo].[infoComment] ON 

INSERT [dbo].[infoComment] ([infoComment_id], [info_id], [user_id], [comment], [addtime]) VALUES (1, 1, 1, N'很不错！有帮助！', CAST(0x0000AA6200B12857 AS DateTime))
INSERT [dbo].[infoComment] ([infoComment_id], [info_id], [user_id], [comment], [addtime]) VALUES (2, 2, 1, N'很不错！有帮助！', CAST(0x0000AA6200B13F33 AS DateTime))
INSERT [dbo].[infoComment] ([infoComment_id], [info_id], [user_id], [comment], [addtime]) VALUES (3, 2, 1, N'很不错！有帮助！', CAST(0x0000AA6200B14285 AS DateTime))
SET IDENTITY_INSERT [dbo].[infoComment] OFF
SET IDENTITY_INSERT [dbo].[MakePrivate] ON 

INSERT [dbo].[MakePrivate] ([myprivate_id], [Users_id], [destination], [customname], [phone], [expenses], [dates], [tools], [notes]) VALUES (1, 5, NULL, N'', N'', NULL, NULL, NULL, NULL)
INSERT [dbo].[MakePrivate] ([myprivate_id], [Users_id], [destination], [customname], [phone], [expenses], [dates], [tools], [notes]) VALUES (2, 5, N'', N'', N'', CAST(2000 AS Decimal(18, 0)), CAST(0x0000AA5F00000000 AS DateTime), N'', N'          ')
INSERT [dbo].[MakePrivate] ([myprivate_id], [Users_id], [destination], [customname], [phone], [expenses], [dates], [tools], [notes]) VALUES (3, 5, N'江西师范大学', N'小白', N'11111111111', CAST(2000 AS Decimal(18, 0)), CAST(0x0000AA5F00000000 AS DateTime), N'快递', N'111       ')
SET IDENTITY_INSERT [dbo].[MakePrivate] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [user_id], [order_time], [address], [phone], [zipcode], [total_price]) VALUES (1, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Order] ([order_id], [user_id], [order_time], [address], [phone], [zipcode], [total_price]) VALUES (2, 1, CAST(0x0000AA76011FB46E AS DateTime), N'江西师范大学', N'15711111111', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[orderDetails] ON 

INSERT [dbo].[orderDetails] ([orderDetails_id], [num], [order_id]) VALUES (1, 4, 1)
INSERT [dbo].[orderDetails] ([orderDetails_id], [num], [order_id]) VALUES (2, 5, 1)
INSERT [dbo].[orderDetails] ([orderDetails_id], [num], [order_id]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[orderDetails] OFF
SET IDENTITY_INSERT [dbo].[Shop] ON 

INSERT [dbo].[Shop] ([shop_id], [shop_name], [user_id], [shop_introduce], [shop_addtime]) VALUES (1, N'爱宠大机密', 1, NULL, CAST(0x0000A8D600000000 AS DateTime))
INSERT [dbo].[Shop] ([shop_id], [shop_name], [user_id], [shop_introduce], [shop_addtime]) VALUES (2, N'带走我', 2, N'嘻嘻', CAST(0x0000AA8200000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Shop] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([user_id], [user_name], [phone], [address], [user_head], [age], [birth], [sex], [password], [user_introduce]) VALUES (1, N'ailocy', N'13697058140', N'江西', N'../images/login-1.jpg', NULL, NULL, NULL, N'123456', NULL)
INSERT [dbo].[UserInfo] ([user_id], [user_name], [phone], [address], [user_head], [age], [birth], [sex], [password], [user_introduce]) VALUES (2, N'lwx', N'13697058141', N'江西', NULL, 18, CAST(0x75250B00 AS Date), 1, N'123456', N'你们好')
INSERT [dbo].[UserInfo] ([user_id], [user_name], [phone], [address], [user_head], [age], [birth], [sex], [password], [user_introduce]) VALUES (3, N'clearlove', N'13697058142', N'武汉', NULL, 25, CAST(0xF31B0B00 AS Date), 1, N'123456', N'加油')
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Goods] FOREIGN KEY([good_id])
REFERENCES [dbo].[Goods] ([good_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Goods]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_UserInfo] FOREIGN KEY([user_id])
REFERENCES [dbo].[UserInfo] ([user_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_UserInfo]
GO
ALTER TABLE [dbo].[Cat]  WITH CHECK ADD  CONSTRAINT [FK_Cat_catClass] FOREIGN KEY([catClass_id])
REFERENCES [dbo].[catClass] ([catClass_id])
GO
ALTER TABLE [dbo].[Cat] CHECK CONSTRAINT [FK_Cat_catClass]
GO
ALTER TABLE [dbo].[Cat]  WITH CHECK ADD  CONSTRAINT [FK_Cat_Shop] FOREIGN KEY([shop_id])
REFERENCES [dbo].[Shop] ([shop_id])
GO
ALTER TABLE [dbo].[Cat] CHECK CONSTRAINT [FK_Cat_Shop]
GO
ALTER TABLE [dbo].[goodComment]  WITH CHECK ADD  CONSTRAINT [FK_goodComment_Goods] FOREIGN KEY([good_id])
REFERENCES [dbo].[Goods] ([good_id])
GO
ALTER TABLE [dbo].[goodComment] CHECK CONSTRAINT [FK_goodComment_Goods]
GO
ALTER TABLE [dbo].[goodComment]  WITH CHECK ADD  CONSTRAINT [FK_goodComment_UserInfo] FOREIGN KEY([user_id])
REFERENCES [dbo].[UserInfo] ([user_id])
GO
ALTER TABLE [dbo].[goodComment] CHECK CONSTRAINT [FK_goodComment_UserInfo]
GO
ALTER TABLE [dbo].[goodReply]  WITH CHECK ADD  CONSTRAINT [FK_goodReply_goodComment] FOREIGN KEY([goodComment_id])
REFERENCES [dbo].[goodComment] ([goodComment_id])
GO
ALTER TABLE [dbo].[goodReply] CHECK CONSTRAINT [FK_goodReply_goodComment]
GO
ALTER TABLE [dbo].[goodReply]  WITH CHECK ADD  CONSTRAINT [FK_goodReply_UserInfo] FOREIGN KEY([user_id])
REFERENCES [dbo].[UserInfo] ([user_id])
GO
ALTER TABLE [dbo].[goodReply] CHECK CONSTRAINT [FK_goodReply_UserInfo]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_goodClass] FOREIGN KEY([goodClass_id])
REFERENCES [dbo].[goodClass] ([goodClass_id])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_goodClass]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_orderDetails] FOREIGN KEY([orderDetails_id])
REFERENCES [dbo].[orderDetails] ([orderDetails_id])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_orderDetails]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_Shop] FOREIGN KEY([shop_id])
REFERENCES [dbo].[Shop] ([shop_id])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_Shop]
GO
ALTER TABLE [dbo].[info]  WITH CHECK ADD  CONSTRAINT [FK_info_infoClass] FOREIGN KEY([infoClass_id])
REFERENCES [dbo].[infoClass] ([infoClass_id])
GO
ALTER TABLE [dbo].[info] CHECK CONSTRAINT [FK_info_infoClass]
GO
ALTER TABLE [dbo].[info]  WITH CHECK ADD  CONSTRAINT [FK_info_UserInfo] FOREIGN KEY([user_id])
REFERENCES [dbo].[UserInfo] ([user_id])
GO
ALTER TABLE [dbo].[info] CHECK CONSTRAINT [FK_info_UserInfo]
GO
ALTER TABLE [dbo].[infoComment]  WITH CHECK ADD  CONSTRAINT [FK_infoComment_info] FOREIGN KEY([info_id])
REFERENCES [dbo].[info] ([info_id])
GO
ALTER TABLE [dbo].[infoComment] CHECK CONSTRAINT [FK_infoComment_info]
GO
ALTER TABLE [dbo].[infoComment]  WITH CHECK ADD  CONSTRAINT [FK_infoComment_UserInfo] FOREIGN KEY([user_id])
REFERENCES [dbo].[UserInfo] ([user_id])
GO
ALTER TABLE [dbo].[infoComment] CHECK CONSTRAINT [FK_infoComment_UserInfo]
GO
ALTER TABLE [dbo].[infoReply]  WITH CHECK ADD  CONSTRAINT [FK_infoReply_infoComment] FOREIGN KEY([infoComment_id])
REFERENCES [dbo].[infoComment] ([infoComment_id])
GO
ALTER TABLE [dbo].[infoReply] CHECK CONSTRAINT [FK_infoReply_infoComment]
GO
ALTER TABLE [dbo].[infoReply]  WITH CHECK ADD  CONSTRAINT [FK_infoReply_UserInfo] FOREIGN KEY([user_id])
REFERENCES [dbo].[UserInfo] ([user_id])
GO
ALTER TABLE [dbo].[infoReply] CHECK CONSTRAINT [FK_infoReply_UserInfo]
GO
ALTER TABLE [dbo].[MakePrivate]  WITH CHECK ADD  CONSTRAINT [FK_MakePrivate_UserInfo] FOREIGN KEY([Users_id])
REFERENCES [dbo].[UserInfo] ([user_id])
GO
ALTER TABLE [dbo].[MakePrivate] CHECK CONSTRAINT [FK_MakePrivate_UserInfo]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_UserInfo] FOREIGN KEY([user_id])
REFERENCES [dbo].[UserInfo] ([user_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_UserInfo]
GO
ALTER TABLE [dbo].[orderDetails]  WITH CHECK ADD  CONSTRAINT [FK_orderDetails_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[orderDetails] CHECK CONSTRAINT [FK_orderDetails_Order]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_UserInfo] FOREIGN KEY([user_id])
REFERENCES [dbo].[UserInfo] ([user_id])
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_UserInfo]
GO
USE [master]
GO
