body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none !important;
}
/* 版心宽度 */
.contain-1220 {
    width: 1220px;
    margin: auto;
}
/* 顶部开始 */
.top {
    background: #0F70B6;
    height: 30px;
    border-bottom: 1px solid #ccc;
}

.top-left {
    float: left;
}

    .top-left li,
    .top-right li {
        float: left;
        line-height: 30px;
        margin-left: 30px;
        font-size: 12px;
    }

        .top-right li:first-child {
            margin-left: 0;
        }

        .top-right li:last-child {
            margin-right: 30px;
        }

        .top-left li a {
            color: #fbfbfb;
        }
        .top-left li a:hover{
            text-decoration:underline;
        }
.top-right {
    float: right;
}
.top-right li a{
    color:#fbfbfb;
}
.top li a:hover{
    color:#f10215;
}
/* 顶部结束 */

/*
    用户中心开始
*/
.user{
    position:absolute;
    width:40px;
    height:40px;
    right:100px;
    top:50px;
    border-radius:50%;
}

    .user a{
        display:inline-block;
    }
    .user img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
.user-center{
   
    width:100px;
    height:80px;
    line-height:80px;
    display:none;
    position:absolute;
    text-align:center;
    right:0px;
    top:30px;
    transition:all ease-out 0.2s;
}
.user-center a{
    color:#ccc;
}
.user-center a:hover{
    color:#f10215;
}
.user-box:hover .user-center{
    display:block;
}

/*用户中心结束*/

/* 导航开始 */
.nav1 {
    height: 80px;
    background: #fff;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

    .nav-left li, .nav-right li {
        line-height: 80px;
        float: left;
    }

.nav1 li a {
    color: #666;
    position: relative;
    float: left;
    font-size: 16px;
    padding: 0px 15px;
    margin: 0px 15px;
}

.background-color1 {
    background: #fff;
    height: 2px;
    position: absolute;
    left: 10%;
    width: 80%;
    bottom: calc(0% + 15px);
    z-index: 1;
    text-align: center;
    vertical-align: top;
}

    .background-color1 span {
        display: inline-block;
        background: #f10215;
        height: 2px;
        width: 0;
        vertical-align: top;
        transition: all 0.5s;
    }

.nav1 li a:hover span {
    width: 100%;
}

.nav1 li a:hover {
    color: #f10215;
}

.logo {
    position: absolute;
    background: #eee;
    width: 154px;
    height: 154px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    left: calc(50% - 100px);
    top: 0;
    transition: all .5s;
    box-shadow: -1px 2px 10px #5c5c5c;
    z-index:999;
}

    .logo:hover {
        box-shadow: -1px 2px 15px #5c5c5c;
    }

.logo-box {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #fff;
}

    .logo-box a {
        display: block;
        width: 140px;
        height: 140px;
        border: 3px solid #fff;
        border-radius: 50%;
        margin: 2px auto;
    }

        .logo-box a > div {
            width: 130px;
            height: 130px;
            border: 2px solid #ccc;
            border-radius: 50%;
            margin: 3px auto;
        }
.logo {
    background: #0F70B6;
}
#image {
    width: 89px;
    height: 89px;
    margin: auto;
    margin-top: 22px;
}
/* 导航结束 */

/*底部开始了*/
.clearfix1:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix1 {
    *zoom: 1;
}
.footer {
    background: #0F70B6;
    margin-top:40px;
}

.footer-bd p {
    text-align: center;
    margin-top: 20px;
    color: #FBFBFB;
}

.footer-bd ul {
    width: 960px;
    margin: 0 auto;
}

.footer-bd li {
    float: left;
    margin-left: 30px;
}

    .footer-bd li a {
        color: #FBFBFB;
        text-decoration: none;
    }
        .footer-bd li a:hover{
            color:#f10215;
        }
        li.spacer {
            width: 1px;
            height: 12px;
            background: #ccc;
            margin-top: 5px;
        }
/*底部结束了*/
